In [1]:
import pandas as pd

In [2]:
# Reading movies csv 
IMDB_df = pd.read_csv('IMDB_updated.csv')
IMDB_df.head()

,Unnamed: 0,title,year,country,language,duration,genre,director,production_company,description,...,neutral_votes,negative_votes,percentage_of_positive_reviews,overall_eval,genre_1,genre_2,genre_3,country_1,country_2,country_3
0,0,Metropolis,1927,Germany,German,153,"Drama, Sci-Fi",Fritz Lang,Universum Film (UFA),In a futuristic city sharply divided between t...,...,15050,5775,0.86,1,Drama,Sci-Fi,NaN,Germany,NaN,NaN
1,1,City Lights,1931,USA,English,87,"Comedy, Drama, Romance",Charles Chaplin,Charles Chaplin Productions,"With the aid of a wealthy erratic tippler, a d...",...,10919,4453,0.90,1,Comedy,Drama,Romance,USA,NaN,NaN
2,2,Modern Times,1936,USA,English,87,"Comedy, Drama, Family",Charles Chaplin,Charles Chaplin Productions,The Tramp struggles to live in modern industri...,...,12840,4951,0.91,1,Comedy,Drama,Family,USA,NaN,NaN
3,3,Snow White and the Seven Dwarfs,1937,USA,English,83,"Animation, Family, Fantasy","William Cottrell, David Hand",Walt Disney Productions,Exiled into the dangerous forest by her wicked...,...,28600,3000,0.81,1,Animation,Family,Fantasy,USA,NaN,NaN
4,4,Gone with the Wind,1939,USA,English,238,"Drama, History, Romance","Victor Fleming, George Cukor",Selznick International Pictures,A manipulative woman and a roguish man conduct...,...,29565,9580,0.85,1,Drama,History,Romance,USA,NaN,NaN

In [3]:
# Reading currency csv
currencyConv = pd.read_csv('currencyConversions.csv')
currencyConv = currencyConv[['Unnamed: 0','currency_amount']]
currencyConv

      Unnamed: 0  currency_amount
0              0          10440.0
1              1        1500000.0
2              2        1500000.0
3              3        1499000.0
4              4        3977000.0
...          ...              ...
4176        4176       10000000.0
4177        4177       10000000.0
4178        4178        6000000.0
4179        4179        2700000.0
4180        4180       29900000.0

[4181 rows x 2 columns]

In [4]:
# Merging movies and currency dataframes
merge1 = pd.merge(IMDB_df,currencyConv, on ='Unnamed: 0')
merge1

,Unnamed: 0,title,year,country,language,duration,genre,director,production_company,description,...,negative_votes,percentage_of_positive_reviews,overall_eval,genre_1,genre_2,genre_3,country_1,country_2,country_3,currency_amount
0,0,Metropolis,1927,Germany,German,153,"Drama, Sci-Fi",Fritz Lang,Universum Film (UFA),In a futuristic city sharply divided between t...,...,5775,0.86,1,Drama,Sci-Fi,NaN,Germany,NaN,NaN,10440.0
1,1,City Lights,1931,USA,English,87,"Comedy, Drama, Romance",Charles Chaplin,Charles Chaplin Productions,"With the aid of a wealthy erratic tippler, a d...",...,4453,0.90,1,Comedy,Drama,Romance,USA,NaN,NaN,1500000.0
2,2,Modern Times,1936,USA,English,87,"Comedy, Drama, Family",Charles Chaplin,Charles Chaplin Productions,The Tramp struggles to live in modern industri...,...,4951,0.91,1,Comedy,Drama,Family,USA,NaN,NaN,1500000.0
3,3,Snow White and the Seven Dwarfs,1937,USA,English,83,"Animation, Family, Fantasy","William Cottrell, David Hand",Walt Disney Productions,Exiled into the dangerous forest by her wicked...,...,3000,0.81,1,Animation,Family,Fantasy,USA,NaN,NaN,1499000.0
4,4,Gone with the Wind,1939,USA,English,238,"Drama, History, Romance","Victor Fleming, George Cukor",Selznick International Pictures,A manipulative woman and a roguish man conduct...,...,9580,0.85,1,Drama,History,Romance,USA,NaN,NaN,3977000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,4176,Child's Play,2019,"France, Canada, USA","English, Vietnamese",90,Horror,Lars Klevberg,Orion Pictures,A mother gives her 13-year-old son a toy doll ...,...,3340,0.41,0,Horror,NaN,NaN,France,Canada,USA,10000000.0
4177,4177,Midsommar,2019,"USA, Sweden, Hungary","English, Swedish",147,"Drama, Horror, Mystery",Ari Aster,Proton Cinema,A couple travels to Sweden to visit a rural ho...,...,6581,0.72,1,Drama,Horror,Mystery,USA,Sweden,Hungary,10000000.0
4178,4178,Unplanned,2019,USA,English,109,"Biography, Drama","Chuck Konzelman, Cary Solomon",Unplanned Movie,All Abby Johnson ever wanted to do was help wo...,...,2409,0.74,1,Biography,Drama,NaN,USA,NaN,NaN,6000000.0
4179,4179,Cold Blood Legacy,2019,"France, Ukraine, Belgium","French, English",91,"Action, Thriller",FrÃ©dÃ©ric Petitjean,Ascot Elite Entertainment Group,A hit-man lives isolated in a cabin at the edg...,...,614,0.16,0,Action,Thriller,NaN,France,Ukraine,Belgium,2700000.0
4180,4180,Playing with Fire,2019,USA,English,96,"Comedy, Family",Andy Fickman,Broken Road Productions,A crew of rugged firefighters meet their match...,...,361,0.33,0,Comedy,Family,NaN,USA,NaN,NaN,29900000.0

In [5]:
# Reading reviews csv
# reviews = pd.read_csv('./Scraped Reviews/IMDB_scraped_reviews.csv')
# # Pulling needed columns from dataframe
# reviews = reviews[['Unnamed: 0', 'review']]
# reviews.head()

In [6]:
# Merging merge1 and reviews dataframes
# merge2 = pd.merge(merge1,reviews, on ='Unnamed: 0')
# merge2.head()

In [7]:
# Dropped unneeded columns
# formatted_df = merge2.drop(columns = ['Unnamed: 0','budget', 'genre'])
# Renaming column
formatted_df =merge1.rename(columns={'currency_amount':'budget_USD'})
formatted_df = formatted_df.drop(columns=['Unnamed: 0'])
formatted_df

,title,year,country,language,duration,genre,director,production_company,description,budget,...,negative_votes,percentage_of_positive_reviews,overall_eval,genre_1,genre_2,genre_3,country_1,country_2,country_3,budget_USD
0,Metropolis,1927,Germany,German,153,"Drama, Sci-Fi",Fritz Lang,Universum Film (UFA),In a futuristic city sharply divided between t...,DEM 6000000,...,5775,0.86,1,Drama,Sci-Fi,NaN,Germany,NaN,NaN,10440.0
1,City Lights,1931,USA,English,87,"Comedy, Drama, Romance",Charles Chaplin,Charles Chaplin Productions,"With the aid of a wealthy erratic tippler, a d...",$ 1500000,...,4453,0.90,1,Comedy,Drama,Romance,USA,NaN,NaN,1500000.0
2,Modern Times,1936,USA,English,87,"Comedy, Drama, Family",Charles Chaplin,Charles Chaplin Productions,The Tramp struggles to live in modern industri...,$ 1500000,...,4951,0.91,1,Comedy,Drama,Family,USA,NaN,NaN,1500000.0
3,Snow White and the Seven Dwarfs,1937,USA,English,83,"Animation, Family, Fantasy","William Cottrell, David Hand",Walt Disney Productions,Exiled into the dangerous forest by her wicked...,$ 1499000,...,3000,0.81,1,Animation,Family,Fantasy,USA,NaN,NaN,1499000.0
4,Gone with the Wind,1939,USA,English,238,"Drama, History, Romance","Victor Fleming, George Cukor",Selznick International Pictures,A manipulative woman and a roguish man conduct...,$ 3977000,...,9580,0.85,1,Drama,History,Romance,USA,NaN,NaN,3977000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,Child's Play,2019,"France, Canada, USA","English, Vietnamese",90,Horror,Lars Klevberg,Orion Pictures,A mother gives her 13-year-old son a toy doll ...,$ 10000000,...,3340,0.41,0,Horror,NaN,NaN,France,Canada,USA,10000000.0
4177,Midsommar,2019,"USA, Sweden, Hungary","English, Swedish",147,"Drama, Horror, Mystery",Ari Aster,Proton Cinema,A couple travels to Sweden to visit a rural ho...,$ 10000000,...,6581,0.72,1,Drama,Horror,Mystery,USA,Sweden,Hungary,10000000.0
4178,Unplanned,2019,USA,English,109,"Biography, Drama","Chuck Konzelman, Cary Solomon",Unplanned Movie,All Abby Johnson ever wanted to do was help wo...,$ 6000000,...,2409,0.74,1,Biography,Drama,NaN,USA,NaN,NaN,6000000.0
4179,Cold Blood Legacy,2019,"France, Ukraine, Belgium","French, English",91,"Action, Thriller",FrÃ©dÃ©ric Petitjean,Ascot Elite Entertainment Group,A hit-man lives isolated in a cabin at the edg...,$ 2700000,...,614,0.16,0,Action,Thriller,NaN,France,Ukraine,Belgium,2700000.0
4180,Playing with Fire,2019,USA,English,96,"Comedy, Family",Andy Fickman,Broken Road Productions,A crew of rugged firefighters meet their match...,$ 29900000,...,361,0.33,0,Comedy,Family,NaN,USA,NaN,NaN,29900000.0

In [8]:
# formatted_df = formatted_df[formatted_df['year'] >= 1960]  
# formatted_df['worlwide_gross_income']=formatted_df['worlwide_gross_income'].str.replace("$",'').astype(float)
# formatted_df = formatted_df.sort_values(by=['year'])
# formatted_df

In [9]:
# Exporting csv file
formatted_df.to_csv('formatted_df.csv')

In [10]:
# from sklearn.preprocessing import LabelEncoder
# labelencoder = LabelEncoder()

In [11]:
# X = formatted_df['genre_3']

In [12]:
# labelencoder.fit(X)

In [13]:
# labelencoder.transform(X)

In [14]:
# formatted_df.head(1)