In [55]:
from bs4 import BeautifulSoup as bs
import requests  
import time
from splinter import Browser
import pandas as pd

In [56]:
# List of urls
scrape= pd.read_csv('IMDB_movies_and_ratings.csv')
url_list = 'https://www.imdb.com/title/' + scrape['imdb_title_id']
url_list #convert to dataframe

0       https://www.imdb.com/title/tt0017136
1       https://www.imdb.com/title/tt0021749
2       https://www.imdb.com/title/tt0027977
3       https://www.imdb.com/title/tt0029583
4       https://www.imdb.com/title/tt0031381
                        ...
4176    https://www.imdb.com/title/tt8663516
4177    https://www.imdb.com/title/tt8772262
4178    https://www.imdb.com/title/tt9024106
4179    https://www.imdb.com/title/tt9082020
4180    https://www.imdb.com/title/tt9134216
Name: imdb_title_id, Length: 4181, dtype: object

In [57]:
# Creating dataframe
df = pd.DataFrame()
# Appending url_list to dataframe
url_df = df.append(url_list, ignore_index=True)
# Switching rows and columns
url_df = url_df.transpose()
# Renaming column
url_df = url_df.rename(columns={0:'imdburls'})

url_df['review'] = ""
url_df

                                  imdburls review
0     https://www.imdb.com/title/tt0017136
1     https://www.imdb.com/title/tt0021749
2     https://www.imdb.com/title/tt0027977
3     https://www.imdb.com/title/tt0029583
4     https://www.imdb.com/title/tt0031381
...                                    ...    ...
4176  https://www.imdb.com/title/tt8663516
4177  https://www.imdb.com/title/tt8772262
4178  https://www.imdb.com/title/tt9024106
4179  https://www.imdb.com/title/tt9082020
4180  https://www.imdb.com/title/tt9134216

[4181 rows x 2 columns]

In [58]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [61]:
# Scrape function
def scrapeIMDB(url):
    browser.visit(url)
    time.sleep(5)
    html_review = browser.html   
    soup = bs(html_review, 'lxml')
    reviews = soup.find('div',attrs={"class":"user-comments"})
    span = reviews.find('span')
    p = span.find('p').text
    return p

In [62]:
# Looping thru url rows
for index, row in url_df.iterrows():
    row['review'] = scrapeIMDB(row[0])

In [71]:
# Calling dataframe
url_df

,imdburls,review
0,https://www.imdb.com/title/tt0017136,Silent movies are not for everyone. Neither ar...
1,https://www.imdb.com/title/tt0021749,"Charlie Chaplin's ""City Lights"" contains a ble..."
2,https://www.imdb.com/title/tt0027977,I saw this as a child and my laughter at the f...
3,https://www.imdb.com/title/tt0029583,My mother kept an old clipping for years descr...
4,https://www.imdb.com/title/tt0031381,This film shows the best of the American cinem...
...,...,...
4176,https://www.imdb.com/title/tt8663516,I think this movie works best if you go into i...
4177,https://www.imdb.com/title/tt8772262,I'll start this off with a warning. If you're ...
4178,https://www.imdb.com/title/tt9024106,I dont understand why to start a movie there i...
4179,https://www.imdb.com/title/tt9082020,Two main roles are played well but the screenp...
4180,https://www.imdb.com/title/tt9134216,It's not as bad as all the reviews on here say...

In [69]:
# Export dataframe to csv file
url_df.to_csv('IMDB_scraped_reviews.csv')

In [49]:
# Scraping from one url
url = 'https://www.imdb.com/title/tt0017136'
browser.visit(url)
html_review = browser.html
soup = bs(html_review, 'lxml')
reviews = soup.find('div',attrs={"class":"user-comments"})
span = reviews.find('span')
p = span.find('p').text
p

"Silent movies are not for everyone. Neither are subtitles. Those brave enough to view a movie with no sound and words that are far and few between should definitely enjoy this silent masterpiece. One of the biggest productions of its time, Metropolis still holds its own when set design and special effects are compared. But what Metropolis really has is orginality. This German-Expressionist film had such originality in everything from its costumes to its views of a future (modern) city that its ideas can still be seen everywhere in modern sci-fi. Star Wars's C-3PO was based on Bridgette Helm's robot. Dark City and Brazil both have Metropolis look-a-like cities. This is a very good movie. It's too bad most movies don't have its originality."